<form action="config" method="get">
  <div>
    <h4>Editor settings</h4>

    <label for="font_family">Font family:</label>
    <input
      id="font_family"
      name="font_family"
      type="text"
      placeholder="Monaco"
    />

    <div>
      <label for="theme">Theme:</label>
      <select id="theme-select" name="theme">
        <option value="dark">dark</option>
        <option value="light">light</option>
      </select>
    </div>
  </div>

  <div>
    <h4>Helpful packages</h4>

    <p>
      This Emacs configuration includes LSP, code-completion, and a number of
      tweaks to the default Emacs settings for a "modern-feeling" experience.
      Below are some extra packages that may suit your style.
    </p>

    <div>
      <input
        name="feature[]"
        type="checkbox"
        id="helpful"
        checked
        value="helpful"
      />
      <label for="helpful">Enhance built-in documentation with examples</label>
    </div>

    <div>
      <input name="feature[]" type="checkbox" id="vim" value="vim" />
      <label for="vim">Use vim keybindings</label>
    </div>

    <div>
      <input name="feature[]" type="checkbox" id="denote" value="denote" />
      <label for="denote">Add a lightweight notetaking system</label>
    </div>

    <div>
      <input name="feature[]" type="checkbox" id="magit" value="magit" />
      <label for="magit">Add a fully-featured git workflow</label>
    </div>

    <div>
      <input
        name="feature[]"
        type="checkbox"
        id="breadcrumbs"
        value="breadcrumbs"
      />
      <label for="breadcrumbs">Add breadcrumbs to buffers</label>
    </div>
  </div>

  <div>
    <h4>Programming languages and tools</h4>

    <div>
      <p>
        Although Emacs supports a whole bunch of languages out of the box
        (Python, C, C++, etc.) it's likely you'll want to bring a few extra
        modes along for the ride.
      </p>
      <p>Support these additional languages:</p>

      <input name="language[]" type="checkbox" value="go" id="language-go" />
      <label for="language-go">Go</label>

      <input name="language[]" type="checkbox" value="lua" id="language-lua" />
      <label for="language-lua">Lua</label>

      <input
        name="language[]"
        type="checkbox"
        value="markdown"
        id="language-md"
      />
      <label for="language-md">Markdown</label>

      <input name="language[]" type="checkbox" value="php" id="language-php" />
      <label for="language-php">PHP</label>

      <input
        name="language[]"
        type="checkbox"
        value="tsx"
        id="language-typescript"
      />
      <label for="language-typescript">TypeScript + JSX</label>

      <input
        name="language[]"
        type="checkbox"
        value="rust"
        id="language-rust"
      />
      <label for="language-rust">Rust</label>

      <input
        name="language[]"
        type="checkbox"
        value="yaml"
        id="language-yaml"
      />
      <label for="language-yaml">YAML</label>
    </div>
  </div>

  <button type="submit">build config</button>
</form>
