<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Emacs Config Generator</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" />
  </head>
  <body>
    <main>
      <div>
        <h1>Your Emacs Config</h1>
        <p>Copy me into <code>~/.emacs.d/init.el</code> and start flexing that Emacs pinky.</p>

        <pre>
          <code>
          {% if theme == "light" %}
            <p>light theme</p>
          {% else if theme == "dark" %}
            <p>dark theme</p>
          {% else %}
            <p>both</p>
          {% endif %}
          </code>
        </pre>
      </div>
    </main>
  </body>
</html>
